HOST=100.71.26.41
PORT=25565
BOT_USER=Miner
AUTH=offline
VERSION=b1.7.3
TARGET_Y=12
START_X=-1
START_Y=12
START_Z=128
GOAL_X=9
GOAL_Y=75
GOAL_Z=99
USE_VIAPROXY=true
VIAPROXY_PORT=25568
VIAPROXY_VERSION=3.4.11
CLIENT_VERSION=1.20.4
DISABLE_PROXY=false
FORCE_PROXY=true
MODE=guided
LOG_DIR=logs
LOG_SAMPLE_MS=1000
LOG_STATS_MS=10000
LOG_TRAIL_MIN_BLOCKS=0.5
